.about {

    &__title {
        margin-top: 50px;
        text-transform: uppercase;
        @include semi-bold;
        font-size: 30px;
        color: $title-color;
        
        &:after {
            @include underline;
            margin: 0 auto;
            margin-top: 15px;
            
        }
    }
    &__inner {
        text-align: center;
    }

    &__sub-info {
        text-transform: uppercase;
        color: $main-color;
        @include semi-bold;
    }
}